<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>誘拐された転校生を救出せよ │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="Project N"></div>
      <div class="header__name">N・S高生徒体験用サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <div class="top-image">
      <div class="main-title__wrapper">
        <h1 class="main-title">誘拐<span class="main-title--kana">された</span><br>転校生<span class="main-title--kana">を</span>救出<span class="main-title--kana">せよ</h1>
        <div class="main-title main-title--shadow">誘拐<span class="main-title--kana">された</span><br>転校生<span class="main-title--kana">を</span>救出<span class="main-title--kana">せよ</span></div>
      </div>
    </div>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">
      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">
        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>犯人のアジトを突き止めよう</h2>
            <p class="text-center">誘拐犯はきっと転校生と一緒の場所にいるはずだ<br>
            　下に現場周辺の地図と〜が載っている。これをもとに、犯人のアジトを突き止めよう</p>
            <p class="text-center">一緒に捜査してくれる名探偵もいる。困ったときには、彼の話を聞いてみるのもいいかもしれない</p>
            <div class="youtube__container">
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->
        <div>
          <div class="stage-column__container section bg-color--gray">
            <div class="container">
              <div class="row">
                <!-- STAGE1 上左　ここから -->
                <div class="col-2">
                  <!-- STAGE1 問題セクション　ここから -->
                  <h2>警察の地図</h2>
                  <figure class="image__container">
                    <img src="assets/images/けいさつの地図_リサイズ.jpg" alt="けいさつの地図" title="けいさつのちず">
                  </figure>
                  <!-- STAGE1 問題セクション　ここまで -->
                </div>
                <!-- STAGE1　上左　ここまで -->
                <!-- STAGE1　上右　ここから -->
                <div class="col-2">
                  <!-- STAGE1 問題セクション　ここから -->
                  <h2>犯人の地図</h2>
                  <figure class="image__container">
                    <img src="assets/images/はんにんの地図_リサイズ.jpg" alt="はんにんのちず" title="はんにんのちず">
                  </figure>
                  <!-- STAGE1 問題セクション　ここまで -->
                </div>
                <!-- STAGE1　上右　ここまで -->
              </div>
            </div>
          </div>
        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>犯人のアジトを突き止めよう</h2>
            <div class="answer">
              <input class="answer__1word" type="text" v-model="stage1" placeholder="ここに犯人のアジトを入力しよう">
            </div>
            <p class="err-message">{{ stage1Message }}</p>
            <button v-on:click="stage1AnswerInput(stage1)">送信</button>
            <a class="link-hint" href="hint.html#stage1" target="hint">名探偵の話を聞く ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->
        <!-- STAGE1クリア画面　ここから -->
        <section v-if="stage1Answer" v-bind:class="{isClear:stage1Answer}" class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：１  クリア！</div>
              <div class="clear-message__content">犯人のアジトを見事に突き止め、犯人を捕まえた！<br>
                ところが、誘拐された転校生がいない！？<br>
                犯人は転校生を別の場所に監禁したようだ。転校生の居場所を突き止めよう</div>
              <button v-on:click="stage1NextStage" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->
      </div>
      <!-- STAGE1　ここまで -->
      <!-- STAGE2　ここから -->
      <div v-if="stage1Clear" id="sectionStage2" class="stage">
        <!-- STAGE2問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>転校生が監禁されている場所を突き止めよう</h2>
            <p class="text-center">犯人を捕まえることができた！<br>
              ところが、犯人は転校生を別の場所に監禁したようだ...<br>
              また、転校生は犯人とブログで知り合ったようだ。転校生のブログから何か分かるかもしれない<br>
              急げ！時間がない...</p>
            <div align="center">
              <table border="0">
　　　　　　　　　　　　　　　　      <tr>
　　　　　　　　　　　　　　　　      <td><img src="assets/images/NNB0-1.png" alt="風景" title="風景" height="600" width="800"></td>
              <td><img src="assets/images/NNB80-1.png" alt="楽しみ！" title="楽しみ！" height="600" width="800"></td>
              </tr>
              </table>
            </div>
          </div>
        </section>
        <!-- STAGE2問題セクション　ここまで -->
        <!-- STAGE2解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>転校生が監禁されている場所を突き止めよう</h2>
            <div class="answer">
              <input class="answer__1word" type="text" v-model="stage2" placeholder="ここに監禁場所を入力しよう">
            </div>
            <p class="err-message">{{ stage2Message }}</p>
            <button v-on:click="stage2AnswerInput(stage2)">送信</button>
            <a class="link-hint" href="hint.html#stage1" target="hint">名探偵の話を聞く ></a>
          </div>
        </section>
        <!-- STAGE2解答入力セクション　ここまで -->
        <!-- STAGE2クリア画面　ここから -->
        <section v-if="stage2Answer" v-bind:class="{isClear:stage2Answer}" class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　クリア！</div>
              <div class="clear-message__content">見事、転校生の監禁されている場所が分かったぞ！<br>
              倉庫へ向かうと...どうやらドアには鍵がかかっているようだ<br>
              暗証番号を入力して、転校生を助け出そう！</div>
                <button v-on:click="stage2NextStage" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->
      <!-- STAGE3　ここから -->
      <div v-if="stage2Clear" id="sectionStage3" class="stage">
        <!-- STAGE3問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>暗証番号を入力して、転校生を助け出そう！</h2>
            <p class="text-center"><br>転校生の監禁されている場所を見つけ出した！
              ただ、ドアは暗証番号を入力しないと開かないみたいだ...<br>
              暗証番号はなんだろう...</p>
            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3問題セクション　ここまで -->
        <!-- STAGE3解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>暗証番号を入力して、転校生を助け出そう！</h2>
            <div class="answer">
              <input class="answer__1word" type="text" v-model="stage3" placeholder="ここに暗証番号を入力しよう">
            </div>
            <p class="err-message">{{ stage3Message }}</p>
            <button v-on:click="stage3AnswerInput(stage3)">送信</button>
            <a class="link-hint" href="hint.html#stage3" target="hint">名探偵に話を聞く</a>　
          </div>
        </section>
        <!-- STAGE3解答入力セクション　ここまで -->
      </div>
      <!-- STAGE3　ここまで -->
    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
      <p class="text-center">主催／企画制作<br>
        SCRAP × N・S高生</p>
      <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
      <p class="text-center">produced by 学校法人角川ドワンゴ学園</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
