<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>誘拐された転校生を救出せよ │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="Project N"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <img src="assets/images/NNN.png" alt="タイトル画像" title="誘拐された転校生を救出せよ">
    <!-- タイトルエリア　ここまで -->
    <div id="stage">
      <!-- STAGE1　ここから -->
      <div id="sectionStage1"class="stage">
        <!-- STAGE1導入セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>犯人のアジトを突き止めよう</h2>
            <p class="text-center">転校生がゆうかいされてしまった！<br>
              犯人は「きた公園」で転校生をゆうかいし、西に逃げていったようだ。<br>
              さらに犯人は挑戦状を送ってきた！<br>
              下に犯人の目撃情報をまとめた警察の地図と、犯人が送ってきた挑戦状が載っている。これをもとに、犯人のアジトを突き止めよう。</p>
            <p class="text-center">一緒に捜査してくれる名探偵もいる。困ったときには、彼の話を聞いてみるのもいいかもしれない。</p>
          </div>
        </section>
        <!-- STAGE1導入セクション　ここまで -->
        <!-- STAGE1 問題セクション　ここから -->
        <div>
          <div class="stage-column__container section bg-color--gray">
            <div class="container">
              <div class="row">
                <div class="col-2">
                  <h2>警察の地図</h2>
                  <figure class="image__container">
                    <img src="assets/images/カラフルけいさつの地図.jpg" alt="けいさつの地図" title="けいさつのちず">
                  </figure>
                </div>
                <div class="col-2">
                  <h2>犯人のからの挑戦状</h2>
                  <figure class="image__container">
                    <img src="assets/images/カラフルはんにんの地図.jpg" alt="はんにんのちず" title="はんにんのちず">
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <!-- STAGE1 問題セクション　ここまで -->
        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>犯人のアジトを突き止めよう</h2>
            <div class="answer">
              <input class="answer__1word" type="text" v-model="stage1" placeholder="ここに犯人のアジトを入力しよう">
            </div>
            <p class="err-message">{{ stage1Message }}</p>
            <button v-on:click="stage1AnswerInput(stage1)">送信</button>
            <a class="link-hint" href="hint.html#stage1" target="hint">名探偵の話を聞く ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->
        <!-- STAGE1クリア画面　ここから -->
        <section v-if="stage1Answer" v-bind:class="{isClear:stage1Answer}" class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">犯人を捕まえた！</div>
              <div class="clear-message__content">
                犯人のアジトを見事に突き止め、犯人を捕まえた！<br>
                ところが、ゆうかいされた転校生がいない！？<br>
                犯人は転校生を別の場所に監禁したようだ。転校生の居場所を突き止めよう。</div>
              <button v-on:click="stage1NextStage" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->
      </div>
      <!-- STAGE1　ここまで -->
      <!-- STAGE2　ここから -->
      <div v-if="stage1Clear" id="sectionStage2" class="stage">
        <!-- STAGE2問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>転校生の居場所を突き止めよう</h2>
            <p class="text-center">犯人を捕まえることができた！<br>
              ところが、犯人は転校生を別の場所に監禁したようだ...<br>
              </p>
            <div class="stage-column__container section bg-color--gray">
            <div class="container">
            <div align="center">
                <h2>転校生のブログ</h2>
　　　　　　　　　　　　　　　　      <tr>
              <td><img src="assets/images/NNB80-1.png" alt="楽しみ！" title="楽しみ！" height="600" width="800"></td>
　　　　　　　　　　　　　　　　      <td><img src="assets/images/NNB0-1.png" alt="風景" title="風景" height="600" width="800"></td>
              </tr>
              </div>
              </div>
            </div>
          </div>
        </section>
        <!-- STAGE2問題セクション　ここまで -->
        <!-- STAGE2解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>転校生の居場所を突き止めよう</h2>
            <div class="answer">
              <input class="answer__1word" type="text" v-model="stage2" placeholder="ここに転校生の居場所を入力しよう">
            </div>
            <p class="err-message">{{ stage2Message }}</p>
            <button v-on:click="stage2AnswerInput(stage2)">送信</button>
            <a class="link-hint" href="hint.html#stage2" target="hint">名探偵の話を聞く ></a>
          </div>
        </section>
        <!-- STAGE2解答入力セクション　ここまで -->
        <!-- STAGE2クリア画面　ここから -->
        <section v-if="stage2Answer" v-bind:class="{isClear:stage2Answer}" class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　クリア！</div>
              <div class="clear-message__content">見事、転校生の居場所が分かったぞ！<br>
              エクストラビルへ向かうと...どうやらドアには鍵がかかっているようだ<br>
              暗証番号を入力して、転校生を助け出そう！</div>
                <button v-on:click="stage2NextStage" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->
      <!-- STAGE3　ここから -->
      <div v-if="stage2Clear" id="sectionStage3" class="stage">
        <!-- STAGE3問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>暗証番号を入力して、転校生を助け出そう！</h2>
            <p class="text-center"><br>転校生の居場所を突き止めた！
              ただ、ドアには鍵がかかっていて、暗証番号を入力しないと開かないみたいだ...<br>
              また、犯人の持ち物から破れた謎のメモが見つかった！<br>
            　　　　転校生が監禁されている部屋にも同じようなメモがあるらしい<br>
            　　　　転校生の話から、破れたメモを完成させ、暗証番号を解き明かそう！</p>
            <figure class="image__container">
              <img src="assets/images/NBNB.png" alt="謎のメモ" title="謎のメモ" height="300" width="300">
            </figure>
            <h2>転校生との会話</h2>
            <div class="story__note__outer bg-color--gray">
            <ul class="story__note">
              <h3>転校生：「ゆうかいされました！助けてください！」</h3>
              <h3>警察官：「大丈夫です！今助けます！」ガチャガチャ...</h3>
              <h3>警察官：「ドアに鍵がかかっていて開かない...
                　　　　〇〇ちゃんドアを内側から開けれないかな？」</h3>
              <h3>転校生：「手足がしばられてて、動けないです...」</h3>
              <h3>警察官：「そっか。ん？何かを入力するところがあるぞ。
                　　　　暗証番号を入力すればドアは開きそうだな」</h3>
              <h3>警察官：「そういえば、犯人の持ち物に破れたメモがあったな」</h3>
              <h3>転校生：「あの...関係ないかもしれないんですが、床に何か書かれた紙が落ちてます」</h3>
              <h3>警察官：「何っ？！本当かい？紙には何て書かれてるんだい？」</h3>
              <h3>転校生：「えーっと...左上の方に、3...右上の方に、N...矢印...14...
                　　　　下の方には、横棒線と...hとrかな...？」</h3>
              <h3>警察官：「ありがとう！すぐに助けるからね！...暗証番号はなんだろうな...」</h3>
            </ul>
          </div>
            <div align="center">
              <table border="0">
          </div>
        </section>
        <!-- STAGE3問題セクション　ここまで -->
        <!-- STAGE3解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>暗証番号を入力して、転校生を助け出そう！</h2>
            <div class="answer">
              <input class="answer__1word" type="text" v-model="stage3" placeholder="ここに暗証番号を入力しよう">
            </div>
            <p class="err-message">{{ stage3Message }}</p>
            <button v-on:click="stage3AnswerInput(stage3)">送信</button>
            <a class="link-hint" href="hint.html#stage3" target="hint">名探偵に話を聞く</a>　
          </div>
        </section>
        <!-- STAGE3解答入力セクション　ここまで -->
      </div>
      <!-- STAGE3　ここまで -->
    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
